.container {
    margin: 0 auto;
    width: 45%;
    height: 100vh;
}

.container .box-1 {
    background-color: orangered;
    color: rgb(245, 189, 85);
    font-size: 25px;
    padding: 15px;
}

.container .box-1 p {
    margin: 0;
}



.container .box-2 {
    background-color: rgb(52, 22, 73);
    font-size: 20px;
    color: rgb(245, 189, 85);
}

.container .box-2 .box-2-1 .lab, .lab, .container .box-2 .box-2-1 input{
    margin-top: 20px;
}

.container .box-2 .box-2-1 .labl, .lab {
    display: inline-block;
    width: 35%;
    text-align: right;
    margin-right: 20px;
}

.box-2-2 {
    text-align: right;
    width: 90%;
    margin-top: 20px;
    font-size: 20px;
}

.box-2-2 input {
    margin-bottom: 10px;
}

.container .box-3 {
    text-align: right;
    background-color: orangered;
    padding: 12px;

}

.container .box-3 input{
    border: none;
    color: #fff;
    width: 17%;
    height: 7vh;
    font-size: 1rem;
}

.container .box-3 .btn1 {
    background-color: yellowgreen;
}

.container .box-3 .btn2 {
    background-color: red;
}